---
import Button from "@components/buttons/Button.astro";
import projects from "@consts/projects";
---

<section class="w-full h-vh bg-2">
  <div
    class="sm:max-w-7xl mx-auto px-6 sm:px-10 xl:px-0 py-10 grid grid-cols-1 gap-7"
  >
    <h4 class="text-3xl font-bold text-center">Proyectos</h4>
    <p class="text-center text-2 sm:w-4/4 md:w-3/4 lg:w-2/4 mx-auto">
      Soluciones web y móviles desarrolladas con tecnologías modernas para
      mejorar rendimiento, experiencia y escalabilidad.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      {
        projects.map((project) => (
          <div class="flex flex-col gap-3 bg-3 rounded-md relative">
            <span class="px-2 py-1 rounded-full text-xs bg-black text-white absolute top-4 right-4">
              {project.isMockup ? "Mockup" : "Real"}
            </span>
            <div class="flex  gap-2 flex-col ">
              <img
                src={project.image}
                alt={project.name}
                class="w-full h-40 object-cover"
              />
            </div>
            <div class="flex flex-col gap-2 p-4">
              <h6 class="text-md font-bold">{project.name}</h6>
              <p class="text-sm">{project.description}</p>
              <div class="flex items-center justify-end gap-2">
                <Button href={project.link} variant="black" size="sm">
                  Ver proyecto
                </Button>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style></style>
